*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body{
    height: 100%;
}

main{
    position: relative;
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form{
    display: none;
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    padding: 2rem;
    max-width: 440px;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    border-radius: 0 0 8px 8px;
    top: 0px;
    align-items: center;
    justify-content: center;
    transition: all .56s ease-in;
}
.open-form{
    display: block;
}

.form span{
    color: #f00;
    font-size: x-large;
    float: right;
    position: absolute;
    top: 9px;
    right: 9px;
    cursor: pointer;
}
form h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

label, input, button{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: .5rem 0;
    padding: .3rem .2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button{
    background-color: rgb(45, 45, 138);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

button:active{
    transform: scale(.89);
}

.fieldset{
    display: flex;
}

.fieldset > *{
    flex: 1 1 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.fieldset > :first-child{
    margin-left: 0;
}

.fieldset > :last-child{
    margin-right: 0;
}

.credit-card-number-container{
    flex: 3 3 40px;
}

.open{
    transition: transform 80ms ease;
    cursor: pointer;
    width: 20%;
}

.open:active{
    transform: scale(.89);
}

.overlay{
    background-color: rgba(0, 0, 0, 0.452);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

@media screen and (min-width:820px) {
    .form{
        min-width: 800px !important;
        width: 100%;
        transition: all .56s ease-in;
    }
}