*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root{
    --red-orange:linear-gradient(to top, rgba(255, 107, 8, 0.966),rgba(255, 214, 100, 0.781));
    --boxes : #f0f0f09c;
    --orange: rgba(219, 108, 0, .945);
}

body{
    background-image: var(--red-orange);
    background-repeat: no-repeat;
    height: 100vh;
}

section{
    display: flex;
    min-height: 100vh;
    gap: 5px;
    padding: 1rem;
}

.phi-column, .phi-row{
    background-color: #fff;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.212),rgba(255,255,255,.450));
    flex: 1.6348 1.6348 0px;
    border: 1px solid #faf9f967;
}

.column, .row{
    background-color: #f8f8f833;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.068),rgba(255, 255, 255, 0.226));
    flex: 1 1 0px;
    border: 1px solid #f8f8f8;
    display: flex;
}

.column{
    flex-direction: column;
}